body{
	background-color: white;
	padding: 0;
	margin:0;
	font-family: 'Raleway', sans-serif !important;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
}
a{
	text-decoration: none;
	color: #3a88fd;
}
a:hover{
	color:red;
	transition: 0.3s;
}
button {
	
	font-size: 22px;
	background: #1fb740;
	border:none;
	border-radius: 3px;
	color:white;
	padding: 7px;
	outline: none;

}
button:hover{
	font-size: 22.2px;
	transition: 0.5s;
	background: #3a88fd;
}