RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)/$ /$1 [R=301,L]
RewriteRule css/([^\/]+).css$ css/$1.css [L]
RewriteRule img/([^\/]+).css$ img/$1.css [L]

RewriteCond %{REQUEST_URI} !/css
RewriteCond %{REQUEST_URI} !/img
RewriteRule .* index.php [L]
